<!DOCTYPE html>
<html>
<head>
    <h1> QUIZZZ </h1>
    <h2>Instructor Login</h2>
</head>
<body>
    <form method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
<p>Don't have a QUIZZZ account? <a href="/register">Register here</a>.</p>
</body>
</html>
